

body{
    background-color:darkorange;
    
}
.body{
   
    display: flex;
    padding-top: 1vh; padding-bottom: 1vh;
    justify-content: space-between;
  
  
    
}
.from ,.to{
   
}
.container{
background-color: aqua;
width: 400px;
height: 100px;
border-style: solid;

}  
.input{
    display: flex;
    justify-content: space-between;

}
#firstNum ,#SecondNum{
    background-color: burlywood;
   font-weight: bold;
    color: darkblue;
}
#convert-from,#convert-to{
    background-color: rgb(47, 105, 107);
    font-weight: bold;
    
}
#Convert,#Swap,#Clear{
    background-color: darkred;
    margin-top: 20px;
    font-weight: bold;
}
  